@use 'variables' as v;

@mixin font-one($size: 36px, $line: 40px, $space: -0.8px) {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: $size;
    line-height: $line;
    text-align: center;
    letter-spacing: $space;
    color: v.$primary-color;
}

@mixin font-two($size: 12px, $line: 18px) {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: $size;
    line-height: $line;
    /* or 150% */
    text-align: center;
    color: v.$primary-color;
}

@mixin navbar($width: 50%) {
    .fa-ellipsis {
        display: none;
    }

    .head__nav {
        display: contents;
    }

    .head__navbar {
        width: $width;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height, or 140% */
            color: v.$primary-color;
            float: left;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #f59804;
                transform-origin: bottom right;
                transition: transform 0.3s ease-out;
                transform: scaleX(0);
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            &:active {
                color: #f59804;
            }
        }

        a {
            margin-left: 10%;
        } 
    }
}