* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    height: 100vh;
}

header {
    height: 8vh;
}

main  {
    display: flex;
    flex-direction: column;
}

.main__text {
    max-width: 66%;
    min-height: 33vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height, or 110% */
    text-align: center;
    letter-spacing: -0.8px;
    color: #242635;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    text-align: center;
    color: #242635;
}

.main__img {
    background-image: url("/images/soup-s.png");
    background-repeat: no-repeat;
    object-fit: cover;
    max-width: 80%;
    width: 100%;
    min-height: 50vh;
    margin: auto;
    display: inline-flex;
    justify-self: flex-end;
}

/* tablet screen */
@media screen and (min-width:321px) and (max-width: 768px) {
    h1 {
        font-size: 72px;
        line-height: 83px;
        /* identical to box height, or 115% */
        letter-spacing: -1.6px;
    }

    p {
        font-size: 22px;
        line-height: 33px;
        /* or 150% */
    }

    .main__text {
        max-width: 75%;
    }

    .main__img {
        background-image: url("/images/soup-m.png");
    }
}

/* desktop screen */
@media screen and (min-width:769px) {
    header {
        height: 12vh;
    }

    main  {
        flex-direction: row;
    }

    h1 {
        font-size: 90px;
        line-height: 102px;
        /* identical to box height, or 113% */
        letter-spacing: -2px;
        text-align: left;
    }

    p {
        font-size: 22px;
        line-height: 33px;
        /* or 150% */
        text-align: left;
    }

    .main__text {
        max-width: 30%;
        justify-content: center;
    }

    .main__img {
        background-image: url("/images/soup-l.png");
        max-width: 40%;
        min-height: 80vh;
    }
}